body {
  overflow: hidden;
}
.App {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../asserts/phoneCounter.jpeg");
  background-size: cover;
}
.containerCounter {
  display: flex;
  gap: 10px;
  
}
